.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &_link {
        color: white;

        &:hover {
            color: var(--accent-color);
        }
    }


    &_link_title {
        margin-left: 4px;
    }
}